<!DOCTYPE html>

<html>
  <head>
    <!--full_title function defined in app/helpers/application_helper.rb-->
    <!--yield(:title) refers to the provide(...)function in app/views/static_pages-->
    <title><%= full_title(yield(:title)) %> </title>
  
    <%= render 'layouts/head' %>
    <!--find this in app/views/layouts/_shim.html.erb-->
    <%= render 'layouts/shim' %>
    
  </head>

  <body>
    <%= render 'layouts/header' %>
  
    <div class = "container">
      <!--refers to the provide(...) function in app/views/static_pages-->
      <%= yield %>
    </div>
  
    <%= render 'layouts/footer' %>
  </body>
  

</html>
